@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}

.top-bar {
    background-color: #1CD1B0;
    height: 3rem;
    width: 100vw;
    display: flex;
    align-items: center;
}

.top-bar p {
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
    }

.nav-bar {
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    height: 8rem;
    width: 100vw;
    display: flex;
    align-items: center;
}

.nav-bar h1 {
    padding-left: 3rem;
    font-size: 3rem;
    font-weight: 400;
}

.contenedores {
    margin: 10rem 0;
    display: flex;
    justify-content: space-evenly;
}

.contenedor {
    border-radius: 1rem;
    width: 30vw;
    height: 40rem;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fondo {
    background-image: url(/img/fondoBatman.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45%;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.fondo img {
    position: relative;
    top: 20%;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fondo-h {
    background-image: url(/img/fondoHerley.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45%;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.fondo-h img {
    position: relative;
    top: 20%;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text h2 {
    padding-top: 20%;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

.text p {
    padding: 2rem;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    background-color: #00669F;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    height: 3rem;
    width: 7rem;
}

footer {
    background-color: #00669F;
    height: 3rem;
    display: flex;
    align-items: center;
}

footer p {
    font-size: 1rem;
    color: #fff;
    padding-left: 2rem;
}




